/* Google Fonts */

/* Open-Sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Coustard Font */
@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap");

/* Bootstrap Classes */
.container {
  max-width: 1140px !important;
}
p {
  color: #ffffff;
}
.btn-primary {
  --bs-btn-hover-bg: #ef4b4b;
}
.navbar {
  --bs-navbar-toggler-icon-bg: url("https://cdn-icons-png.freepik.com/512/9109/9109764.png");
}
.navbar-nav .nav-link:hover {
  color: #ef4b4b !important;
}
.nav-item {
  list-style-type: none !important;
}
.offcanvas-body .nav-item {
  margin-block: 25px;
}
.btn-close {
  --bs-btn-close-bg: url("https://cdn-icons-png.flaticon.com/512/16684/16684890.png");
}
.offcanvas-header{
  margin-left: auto;
}
.dropdown-menu {
  --bs-dropdown-link-hover-bg: none !important;
}
a {
  text-decoration: none !important;
  display: inline-block;
  color: white;
}
.navbar-nav .dropdown-menu {
  position: absolute !important;
}
/* Header Section */
.dropdown-menu {
  background-color: #141414;
}
.btn-primary {
  background-color: #ba3e3e;
  border: none;
}
.px-19 {
  padding-inline: 19px !important;
}
.py-11 {
  padding-block: 11px !important;
}
.btn {
  border-radius: 2px;
  box-shadow: 2px 2px #ffba19;
}

/* Vanilla CSS */
/* Common Classes */
html,
body {
  overflow-x: hidden !important;
}
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Coustard", sans-serif;
  color: #ffffff;
}
h2 {
  font-size: 46px;
  margin-bottom: 7px;
}
h3 {
  color: #ffba19;
  font-size: 24px;
}
span {
  color: #ffba19;
}
.header-img {
  background: url("../assets/nav-top-img.png") no-repeat center/cover black;
  height: 44px;
}
.nav-logo {
  max-width: 113px;
}
.nav-logo > img {
  max-width: 100%;
  object-fit: contain;
}

#search {
  max-width: 24px;
}
#search > img {
  max-width: 100%;
  object-fit: contain;
}
#divider {
  max-width: 28px;
}
#divider > img {
  max-width: 100%;
  object-fit: contain;
}
#cart {
  max-width: 41px;
}
#cart > img {
  max-width: 100%;
  object-fit: contain;
}

/* About-banner-section */
.about-banner {
  padding-block: 80px;
}
.banner,
.banner > img {
  max-width: 100%;
}
.banner > img {
  object-fit: contain;
}

.sub-brdr {
  max-width: 73px;
}
.sub-brdr > img {
  max-width: 100%;
  object-fit: contain;
}
.banner-content > p {
  max-width: 761px;
}
.cards {
  background-color: #131313;
  padding-block: 40px;
  max-width: 360px;
  border: 1px solid white;
  border-radius: 10px;
}
.banner-cards {
  margin-top: 98px;
}
.c-img {
  max-width: 70px;
}
.c-img > img {
  max-width: 100%;
  object-fit: contain;
}
.c-content h4 {
  font-size: 18px;
  margin-top: 31px;
}
/* About-Redeemed  */
.circle-img {
  max-width: 476px;
}
.circle-img > img {
  max-width: 100%;
  object-fit: contain;
}
.btm-img {
  max-width: 450px;
  bottom: 72px;
}
.btm-img > img {
  max-width: 100%;
  object-fit: contain;
}
.redeemed-content {
  max-width: 508px;
}
.redeemed-content p {
  font-size: 18px;
}
.events {
  margin-top: 35px;
}
.about {
  margin-block: 10px;
}
.about .img {
  max-width: 43px;
}
.about .img > img {
  max-width: 100%;
  object-fit: contain;
}

/* Whyus Section */
.number {
  font-size: 70px;
  font-weight: 900;
  background: transparent;
  margin-top: 20px;
  margin-right: 20px;
}
.whyus {
  background-color: #141414;
}
.whyus p {
  max-width: 272px;
}
.sub-brdr {
  max-width: 73px;
}
.sub-brdr > img {
  max-width: 100%;
  object-fit: contain;
}
.why-img {
  /* max-height: 614px; */
  max-width: 614px;
}
.why-img > img {
  max-height: 100%;
  max-width: 100%;
}
.cards {
  max-width: 460px;
  /* max-height: 206px; */
  margin-block: 20px;
  border-radius: 10px;
}
.icon {
  max-width: 70px;
}
.icon > img {
  width: 100%;
  object-fit: cover;
}

.settings {
  max-width: 91px;
  right: -90px;
  top: -30px;
}
.settings > img {
  max-width: 100%;
  object-fit: contain;
}

/* Team Section */
.team {
  padding-block: 102px;
}
.team .sub-brdr {
  margin-bottom: 50px;
}
.agent {
  max-width: 262px;
}
.agent img {
  max-width: 100%;
  object-fit: contain;
}
.name {
  font-family: "Coustard";
  margin-top: 10px;
  font-size: 18px;
}
/* Sub-footer */

.sub-footer {
  max-width: 1398px;

  background-color: #141414;
}
#e-mail {
  border: none;
  outline: 1px solid white;
  padding: 11px 70px 11px 10px;
}
.sub-footer h2 {
  max-width: 466px;
}
footer .btn {
  padding: 10px 27px;
}
.f-img {
  max-width: 654px;
}
.f-img > img {
  max-width: 100%;
  object-fit: contain;
}

/* Footer-Section */

.footer {
  margin-top: 55px;
}
.footer a:hover {
  color: #ba3e3e;
}
h4 {
  font-family: "Coustard", sans-serif;
  font-size: 16px;
  color: #ffba19;
}
.f-para {
  max-width: 279px;
  margin-bottom: 46px;
  font-size: 14px;
}
.social-media-icons {
  max-width: 202px;
  /* max-height: 40px; */
  gap: 14px;
  /* flex-wrap: wrap; */
  margin-top: 22px;
}
.social-media-icons > div {
  max-width: 40px;
  /* max-height: 100%; */
}
.social-media-icons > div > img {
  max-width: 100%;
  object-fit: cover;
}
ul {
  gap: 10px;
}
ul li {
  color: white;
  font-size: 14px;
}

/* Media Queries */

@media screen and (max-width: 1300px) {
  .settings {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  /* Common-Classes */
  h1 {
    font-size: 45px;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 37px;
    margin-bottom: 4px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }

  /* Navbar-Responsive(Hamberger) */
  .align-items-sm-center {
    align-items: center !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }
    .nav-logo {
    max-width: 75px;
  }
  .nav-logo > img {
    max-width: 100%;
    object-fit: contain;
  }
  #search {
    max-width: 17px;
  }
  #search > img {
    max-width: 100%;
    object-fit: contain;
  }
  #cart {
    max-width: 30px;
  }
  #cart > img {
    max-width: 100%;
    object-fit: contain;
  }

  /* About-banner-section */
  .about-banner {
    padding-block: 40px;
  }
  .banner-cards {
    margin-top: 46px;
  }
  .banner-content > h2 {
    margin-top: 16px;
  }

  /* About-redeemed */
  .btm-img {
    bottom: 50px;
  }
  .redeemed-content p {
    font-size: 14px;
  }
  .events {
    margin-top: 20px;
  }

  /* Why us Section */
  .number {
    font-size: 40px;
    font-weight: 900;
    background: transparent;
    margin-top: 20px;
    margin-right: 10px;
  }

  /* Team Section */
  .team {
    padding-block: 50px;
  }
  .team .sub-brdr {
    margin-bottom: 30px;
  }

  /* footer-section */
  .footer-logo,
  .footer-logo > a {
    margin: 0 auto 10px;
  }
  .footer .col-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .f-para {
    margin: 0 auto 24px;
    text-align: center;
  }
  .list {
    margin-top: 10px;
  }
  .footer .list h4,
  .footer h4 {
    text-align: center;
  }
  .footer .list ul {
    align-items: center;
  }
  .social-media-icons {
    margin: 0 auto;
  }
}
