/* Google Fonts */

/* Open-Sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Coustard Font */
@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap");

/* Bootstrap Classes */
.container {
  max-width: 1140px !important;
}
p {
  color: #ffffff;
}
.btn-primary {
  --bs-btn-hover-bg: #ef4b4b;
}
.navbar {
  --bs-navbar-toggler-icon-bg: url("https://cdn-icons-png.freepik.com/512/9109/9109764.png");
}
.navbar-nav .nav-link:hover {
  color: #ef4b4b !important;
}
.dropdown-menu {
  --bs-dropdown-link-hover-bg: none !important;
  
}
.navbar-nav .dropdown-menu {
  position: absolute !important;
}
/* Header Section */
.dropdown-menu {
  background-color: #141414;
}
.btn-primary {
  background-color: #ba3e3e;
  border: none;
}
.px-19 {
  padding-inline: 19px !important;
}
.py-11 {
  padding-block: 11px !important;
}
.btn {
  border-radius: 2px;
  box-shadow: 2px 2px #ffba19;
}
html,body{
  overflow-x: hidden !important;
}
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Coustard", sans-serif;
  color: #ffffff;
}
h2 {
  font-size: 46px;
  margin-bottom: 7px;
}
h3 {
  color: #ffba19;
  font-size: 24px;
}
span {
  color: #ffba19;
}
a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

/* Header Section */
.header-img {
  background: url("../assets/nav-top-img.png") no-repeat center/cover black;
  height: 44px;
}
.nav-logo {
  max-width: 113px;
}
.nav-logo > img {
  max-width: 100%;
  object-fit: contain;
}
#search{
  max-width: 24px;
}
#search > img {
  max-width: 100%;
  object-fit: contain;
}
#divider {
  max-width: 28px;
}
#divider > img {
  max-width: 100%;
  object-fit: contain;
}
#cart {
  max-width: 41px;
}
#cart > img {
  max-width: 100%;
  object-fit: contain;
}

/* event-desc Section */

.event-img {
  max-width: 517px;
}
.event-img > img {
  max-width: 100%;
  border-radius: 10px;
}
.artist-img {
  max-width: 50px;
  max-height: 50px;
}
.artist-img > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.o-img {
  max-width: 117px;
  gap: 25px;
  margin-top: 19px;
}
.o-img > img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
hr {
  color: #ffffff;
}

/* key-feat. section */

.key-feat {
  background-color: #141414;
  padding-block: 95px;
}
.headings :hover {
  color: #ba3e3e;
}

/* Trending events */
.event-card{
  max-width: 364px;
}
.trend-eve-img {
  max-width: 360px;
}
.trend-eve-img > img {
  max-width: 100%;
  border-radius: 10px;
}
.trending-events > .row p {
  max-width: 364px;
}

/* Sub-footer */

.sub-footer {
  max-width: 1398px;

  background-color: #141414;
}
.sub-footer h2 {
  max-width: 466px;
}
footer .btn {
  padding: 10px 27px;
}
.f-img {
  max-width: 654px;
}
.f-img > img {
  max-width: 100%;
  object-fit: contain;
}

/* Footer-Section */

.footer {
  margin-top: 55px;
}
.footer a:hover {
  color: #ba3e3e;
}
h4 {
  font-family: "Coustard", sans-serif;
  font-size: 16px;
  color: #ffba19;
}
.f-para {
  max-width: 279px;
  margin-bottom: 46px;
  font-size: 14px;
}
.social-media-icons {
  max-width: 202px;
  /* max-height: 40px; */
  gap: 14px;
  /* flex-wrap: wrap; */
  margin-top: 22px;
}
.social-media-icons > div{
  max-width: 40px;
  /* max-height: 100%; */
}
.social-media-icons>div>img{
  max-width: 100%;
  object-fit: cover;
}
ul {
  gap: 10px;
}
ul li {
  color: white;
  font-size: 14px;
}

/* media-queries */

/* Common Classes */
@media screen and (max-width: 576px) {
  /* Common -Classes */
  h1 {
    font-size: 45px;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 35px;
    margin-bottom: 4px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }

  /* Nav-bar */
  .align-items-sm-center {
    align-items: center !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }

  /* Key feat-section */
  .key-feat {
    padding-block: 30px;
  }

  /* footer-section */
  .footer-logo,
.footer-logo > a{
  margin: 0 auto 10px;
}
  .footer .col-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .f-para {
    margin: 0 auto 24px;
    text-align: center;
  }
  .list {
    margin-top: 10px;
  }
  .footer .list h4 ,.footer h4 {
    text-align: center;
  }
  .footer .list ul {
    align-items: center;
  }
  .social-media-icons{
    margin: 0 auto;
  }
}
